  <form class="form-signin">
    <div class="text-center mb-4">
      <h1 class="h3 mb-3 font-weight-normal">Estudiante ID: {{ estudianteId }}</h1>
    </div>
  

    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="cc-name"><span class="text-muted">Nombre:</span></label>
        {{ estudianteDetalle.name }}
  
      </div>
      <div class="col-md-6 mb-3">
        <label for="cc-number"><span class="text-muted">Apellidos:</span></label>
        {{ estudianteDetalle.lastname }}
      </div>
    </div>



    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="cc-name"><span class="text-muted">Fecha nacimiento:</span></label>
        {{ estudianteDetalle.birthdate }}
 
      </div>
      <div class="col-md-6 mb-3">
        <label for="cc-number"><span class="text-muted">Género:</span></label>
        {{ estudianteDetalle.gender }}
  
      </div>
    </div>



    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="cc-name"><span class="text-muted">Universidad:</span></label>
        {{ estudianteDetalle.university }}
      </div>
      <div class="col-md-6 mb-3">
        <label for="cc-number"><span class="text-muted">Carrera:</span></label>
        {{ estudianteDetalle.carrer }}
      </div>
    </div>



    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="cc-name"><span class="text-muted">Fecha admisión:</span></label>
        {{ estudianteDetalle.admissionDate }}
  
      </div>
      <div class="col-md-6 mb-3">
        <label for="cc-number"><span class="text-muted">Activo:</span></label>
        {{ estudianteDetalle.active }}

      </div>
    </div>


    <div class="row">
      <div class="col-md-12 mb-3">
        <label for="cc-name"><span class="text-muted">Dirección:</span></label>
        {{ estudianteDetalle.address }}
      </div>
    </div>
    
    <div class="row text-center">
      <a class="btn btn-success btn-block" href="EstudiantesU/update-estudiante/{{ estudianteDetalle.id }}" role="button">Actualizar Estudiante</a>
      <a class="btn btn-danger btn-block" href="EstudiantesU/delete-estudiante/{{ estudianteDetalle.id }}" role="button">Borrar Estudiante</a>

    </div>

  </form>
