


<div class="card text-center" style="width: 18rem;">
    <div class="card-header">
        Detalle del estudiante
    </div>
    <div class="card-body">
      <h5 class="card-title">Detalle del estudiante:</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <p>Nombre: </p>
<p>Apellidos: </p>
<p>FechaNacimiento:</p>
<p>Genero</p>
<p>Universidad</p>
<p>Carrera</p>
<p>FechaAdminsion</p>
<p>Direccion</p>
<p>Activo</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    <div class="card-footer text-muted">
      2 days ago
    </div>
  </div>

  <div class="container">
    <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    Hello world
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    Hello world 2
          </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    Hello world 3
              </div>
      </div>