<div class="text-center mb-4">
  <h1 class="h3 mb-3 font-weight-normal">Lista estudiantes</h1>
</div>

<div style="overflow-x:auto;">

<table class="table table-hover">
    <thead>
      <tr>
        
        <th scope="col">Nombre</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Fecha</th>
        <th scope="col">Genero</th>
        <th scope="col">Universidad</th>

    </tr>
    </thead>
    <tbody>
 
      <tr *ngFor="let estudiante of estudianteLista">
        
        <td><a routerLink="estudiante/{{estudiante.id}}">{{ estudiante.name }}</a></td>
        <td>{{ estudiante.lastname }}</td>
        <td>{{ estudiante.birthdate }}</td>
        <td>{{ estudiante.gender }}</td>
        <td>{{ estudiante.university }}</td>
      </tr>

    </tbody>
  </table>
  </div>