  <form (submit)="updateEstudiante(addEstudianteForm)" #addEstudianteForm="ngForm" class="form-signin">
    <div class="text-center mb-4">
      <h1 class="h3 mb-3 font-weight-normal">Actualizar estudiante ID: {{ estudianteId }}</h1>
    </div>
  
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="cc-name"><span class="text-muted">Nombre:</span></label>
        
        <input type="text" class="form-control" id="cc-name" placeholder=""
        required value="Ingresar nombre" name="name" [(ngModel)]="estudianteDetalle.name" ngModel>
        
      </div>
      <div class="col-md-6 mb-3">
        <label for="cc-number"><span class="text-muted">Apellidos:</span></label>
        <input type="text" class="form-control" id="cc-number" placeholder="" required
        name="estudiante_lastname"  [(ngModel)]="estudianteDetalle.lastname" ngModel>
      </div>
    </div>
  
  
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="cc-name"><span class="text-muted">Fecha nacimiento:</span></label>
        <input type="text" class="form-control" id="cc-name" placeholder="" required
        name="estudiante_birthdate" [(ngModel)]="estudianteDetalle.birthdate" ngModel>
  
      </div>
      <div class="col-md-6 mb-3">
        <label for="cc-number"><span class="text-muted">Género:</span></label>
        <input type="text" class="form-control" id="cc-number" placeholder="" required
        name="estudiante_gender" [(ngModel)]="estudianteDetalle.gender" ngModel>
      </div>
    </div>
  
  
    <div class="row">
      <div class="col-md-12 mb-3">
        <label for="cc-name"><span class="text-muted">Universidad:</span></label>
        <input type="text" class="form-control" id="cc-name" placeholder="" required
        name="estudiante_university" [(ngModel)]="estudianteDetalle.university" ngModel>
  
      </div>
    </div>
  

  
  

    <button class="btn btn-lg btn-primary btn-block" type="submit">Actualizar estudiante</button>
  </form>
  