<!-- HEADER -->
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom shadow-sm">
    <a class="navbar-brand" href="#">Liquid Consulting</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Inicio</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="#">Crear estudiante</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Estudiantes por Carrera
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Administración</a>
            <div class="dropdown-divider"></div>

            <a class="dropdown-item" href="#">Informática</a>
            <div class="dropdown-divider"></div>

            <a class="dropdown-item" href="#">Medicina</a>
            <div class="dropdown-divider"></div>

            <a class="dropdown-item" href="#">Contabilidad</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Odontología</a>
          </div>
        </li>

      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
      </form>
    </div>
</nav>
<!-- // HEADER -->